h1
  a.course(data-id='#{course._id}') #{course.name}
h2 Add Students to a Course

button.button.button-action.add-students Add Students
form.form-horizontal#students
  each student in students
    .form-group
      input(type='checkbox', name='students', value='#{student._id}')
      label #{student.email}

script(src='/js/es6/compiled/courses-addStudents.js')
