h1= title

form#new-course.form
  input.form-control(name='name', type='text', placeholder='name', style='width:400px;')
  button.button.button-action#submitNewCourse Submit

script(src='/js/es6/compiled/courses-new.js')
