h1#course(data-id='#{course._id}')= course.name

button#addVideo.button.button-action Add Video
button.button.button-action#addTest(data-id='#{course._id}') Add Test
button.button.button-action#addStudents(data-id='#{course._id}') Add Students

script(src='/js/es6/compiled/courses-show.js')
