h1= course.name

// Create a new Test
//    -link to a new route that renders the test form jade partial
//    -tests/new
// Add Content
//    -link to a new route that renders the new content form jade partial
//    -courses/newContent
//    -'/courses/:courseId/content/new'
// Add Students to the course
